@model List< InScreening_sprint_2.Models.Triagem>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .titulo {
            margin-left: 41%;
        }

        .tabela {
            margin-top: 5%;
            margin-left: 33%;
            text-align: left;
        }

    </style>
    <link href="/static/css/listacl.css" rel="stylesheet">
    <link href="/static/css/botao.css" rel="stylesheet">

</head>

<body>


    <div class="btn-link-flash" role="alert" align="center">
    </div>

    <h1 class="titulo">Lista de triagens</h1>



    <table class="tabela" bgcolor="black" width="500">

        <tr bgcolor="grey" align="center">
            <th width="100">Data de Inicio</th>
            <th width="100">Data de Fim</th>
            <th width="100">Sintomas</th>
            <th width="100">Prioridade</th>
            <th width="100">Editar</th>
   

        </tr>
        <tbody>
            @foreach (var triagem in Model)
            {
                <tr bgcolor="lightgrey" align="center">
                <td>@triagem.DataInicio</td>
                <td>@triagem.DataFim</td>
                <td>@triagem.Sintomas</td>
                <td>@triagem.Prioridade</td>
                    <td>
                        <a href="">Editar</a>
                        <a asp-controller="Triagem" asp-action="Deletar" asp-route-id="@triagem.id">Deletar</a>
                    </td>
                </tr>
          

            }
         
        </tbody>

    </table>

</body>
</html>